:root{
    --cor-fundao: #000d81 ;
    --cor-principal: #001aff ;
    --cor-secundaria: #4056f7; 
    --cor-destaque: #2BDEFD;
    --cor-textinho: #ffffff;

}

body {
    background: rgb(4,216,253);
    background: linear-gradient(143deg, rgba(4,216,253,1) 0%, rgba(9,9,121,1) 94%, rgba(0,13,129,1) 100%);
    color: var(--cor-textinho);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
p{color:white;
    font-size: 25%;
}

button {
    background-color: transparent;
    height: 20%;
    border-radius: 100px;
    padding: 80px;
    color:white;
}

button:hover{
    height: 100%;
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}