:root{
    --cor-fundao: #000d81 ;
    --cor-principal: #001aff ;
    --cor-secundaria: #4056f7; 
    --cor-destaque: #2BDEFD;
    --cor-textinho: #ffffff;

}

body {
    background-image: linear-gradient(#04d8fd,#000d81);
    color: var(--cor-textinho);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-textinho);
    border: none;
    border-radius: 100px;
    padding: 75px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}